body{
    background-color: darksalmon;
}


*{
    color:firebrick;
    font-weight: bold;
}
header{
    background-color: gold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5cm;
    text-align: center;
     
}
main{
    background-color: gold;
    margin-top: 2px;
    border-top:2px;
    border: black;
}
 div{
    background-color: gold;
    margin-top: 2px;
    border-top:2px;
    border: black;
}
.p1{
 color: #000;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
